* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.full-width {
    width: 100%;
    background-color: hsl(185, 41%, 84%);
}

@media (min-width:0) {
    .fixed-width {
        max-width: 375px;
        margin: 0 auto;
        padding: 10px;
    }

    .dash-board {
        background-color: hsl(0, 0%, 100%);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

@media (min-width:1280px) {
    .full-width {
        height: 100vh;
    }

    .fixed-width {
        max-width: 1280px;
        margin: 0 auto;

    }

    .dash-board {
        width: 800px;
        margin: 0 auto;
        padding: 30px 0;
        border-radius: 30px;
    }

    #container {
        display: flex;
        justify-content: space-around;
    }

    #input-container,
    #result-container {
        flex-basis: 45%;
    }

    #result-container>button {
        margin-top: auto;
    }
}

h2 {
    text-align: center;
    padding: 30px;
    color: hsl(183, 100%, 15%);
    letter-spacing: 0.8em;
}

h3 {
    margin-top: 10px;
    padding: 10px 0;
    color: hsl(183, 100%, 15%);
    font-size: 14px;
}

button {
    cursor: pointer;
}

.d-none {
    display: none;
}

/* input box */
.input-box {
    position: relative;
}

.input-box>input {
    width: 100%;
    height: 40px;
    background-color: hsl(189, 41%, 97%);
    border: 0;
}

.input-box>img {
    position: absolute;
    top: 11px;
    left: 8px;
}

input {
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
    ;
}

input:focus {
    border: 3px solid hsl(172, 67%, 45%);
    border-radius: 5px;
}

/*input warning  */
.warning {
    border: 3px solid red !important;
}

/* tip container */
.percent-box {
    display: flex;
    flex-wrap: wrap;
}

.percent-box>button,
.input-custom {
    flex: 1 1 45%;
    margin: 5px;
    padding: 5px;
    background-color: hsl(183, 100%, 15%);
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

.input-custom {
    width: 100%;
    border: 0;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}

.percent-box>button:last-child {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}

/* result container */
#result-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
}

.result-title>h3 {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
}

.result-title>p {
    color: hsl(184, 14%, 56%);
    font-weight: bold;
}

.result>h2 {
    padding: 0;
    color: hsl(172, 67%, 45%);
    letter-spacing: 0em;
}

.result-tip,
.result-total {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#result-container>button {
    padding: 5px;
    background-color: hsl(172, 67%, 45%);
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

.clicked {
    background-color: hsl(172, 67%, 45%) !important;
    color: hsl(183, 100%, 15%) !important;
}

/* title */
.bill-title {
    display: flex;
    justify-content: space-between;
}

.bill-title h3:last-child {
    color: brown;
}

.people-title {
    display: flex;
    justify-content: space-between;
}

.people-title h3:last-child {
    color: brown;
}